.flex-container[data-v-7346aca4]{margin:0 25px;display:flex;flex-wrap:wrap}.flex-item[data-v-7346aca4]{width:450px;height:100%;margin:5px;flex:1}.cargando[data-v-7346aca4]{margin-top:50px;text-align:center}
.btnBuscador[data-v-537b01d2]{margin:0 0 0 29px;transition:.6s}.btnBuscador[data-v-537b01d2]:hover{padding-right:80px!important;transition:.6s}
